/* Space Theme CSS */
body {
    background-color: #0b0c2a; /* Deep space blue background */
    color: #080808; /* Light grey text */
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('stars.png'); /* Optional: Add a background image for space theme */
    background-size: contain;
}

.rectangle-text {
    width: 60%; /* Adjust the width to your desired size */
    margin: 20px auto; /* Center the paragraph within its container */
    background-color: #ffffff; /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
    line-height: 1.6;
    text-align: justify; /* Justify text for straight edges on both sides */
}

.rectangle-text2 {
    width: 60%; /* Adjust the width to your desired size */
    margin: 20px auto; /* Center the paragraph within its container */
    background-color: #ffffff; /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
    line-height: 1.6;
    text-align: justify; /* Justify text for straight edges on both sides */
}

.github-link {
    text-decoration: none;
    color: #5ad4e6; /* Light blue */
    font-weight: bold;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    text-align: center;
    font-size: 1.2em;
}

.github-link:hover {
    color: #f0e68c; /* Brighter blue on hover */
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #1a1c4a; /* Dark space blue */
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

header h1 {
    color: #dcdcdc; /* Light grey */
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #b0c4de; /* Light steel blue */
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f0e68c; /* Khaki */
}

/* Container Styles */
.container {
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
}

/* Text Content Styles */
.text-content {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
}

.text-content h2,
.text-content h3 {
    color: #dcdcdc; /* Light grey */
}

.text-content p {
    line-height: 1.6;
}

.text-content ul {
    list-style-type: disc;
    margin: 15px 0;
    padding-left: 20px;
}

.text-content ul li {
    margin-bottom: 10px;
}
